body {
    margin: 0;
    background: url(thumb-1920-694848.jpg) fixed;
    background-size: 1550px 800px;
}
a{
    text-decoration: none;
}
a:visited {
color: black;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    outline: none;
}

.nav {
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
    text-align: right;
    margin-top: 0px;
}

    .nav > li {
        display:inline-block;
        position:relative;
    }

        .nav > li > a {
            font-family: 'Exo 2', sans-serif;
            line-height: 50px;
            margin:1px;
            padding: 0 5px;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            transition: .4s ease-in-out;
            margin-top: 0px;
        }

.menu-item:after {
    margin-left: 0px;
    font-family: FontAwesome;
}

.nav li a:hover {
    color: grey;
}

.submenu {
    background-size: 150px 200px;
    position:absolute;
    color: black;
    text-align: center;
    left: -125px;
    visibility: hidden;
    opacity: 0;
    width: 185px;
    transform: scaleY(0);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    padding-left: 0px;
}

.nav > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255,255,255,.8);
    transform: scaleY(1);
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.submenu li a {
    font-size: 22px;
    line-height: 30px;
    padding: 0 15px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    transition: .4s ease-in-out;
}
.submenu li a:hover {
    color: grey;
}
.SCU{
    margin-left: 90px;
    text-align: center;
}
.SCUU{
    margin-left: 110px;
    text-align: center;
}
.SCUUU{
    margin-left: 80px;
    text-align: center;
}
.SC{
    margin-left: 130px;
    text-align: center;
}
h4, h2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}
h2{
    text-align: center;
    color: gray;
}
footer{
    text-align: center;
}
h4{
    color:steelblue;
    text-align: center;
}